<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1>Here find the stock</h1>
    <p>You can update the stock</p>
    
</header>

<hr>

<div class="col-md-12 hero-feature">
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="product in stock">
	    <a href="#" class="list-group-item" ng-click="refill(product.id)">
	    	<span class="badge">{{product.stock}}</span>
	    	{{product.product}}
	    </a>
	  </li>
	</ul>
</div>