<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{product.product}}</h4>
      </div>
      <div class="modal-body">
      	<div class="thumbnail">
	        <img ng-src="{{product.image}}" alt="">
	        <p><h4>{{product.shortDescription}}</h4></p>
	        <p>{{product.longDescription}}</p>
	        <p>&nbsp;</p>
	        <p>Actual Stock: {{product.stock}}</p>
	    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="product.stock > 0" ng-click="buyProduct(product.id)">Buy!!</button>
      </div>
    </div>
  </div>
</div>